.login-content { width: 500px!important;  height: 290px !important;}

.fxMargin { margin: 16px;}

.version-app { color: grey;  font-size: 9px;  margin: 16px 0;}

.progress-bar-container {  padding-bottom: 8px; }

.selection-section { padding-top: 40px;}

.principal-label {
  margin-bottom: 0 !important;
}
