<div fxFlexFill
     class="container"
     fxLayout="column"
     fxLayoutAlign="center center">

  <div fxLayout="column">
    <div fxLayout="column"
         class="fxMargin"
         fxLayoutAlign="center center">
      <span class="mat-title"
            i18n>Personas</span>
      <span class="mat-title"
            i18n>Sistemas de gestión de personas</span>
      <span class="mat-title"
            i18n> (para training y aplicación de estándares)</span>
    </div>
  </div>

  <mat-card class="login-content"
            fxLayout="column"
            fxLayoutAlign="center flex">
    <div class="progress-bar-container">
      <mat-progress-bar mode="indeterminate"
                        *ngIf="progressLinear"></mat-progress-bar>
    </div>

    <mat-card-subtitle>
      <span i18n>Ingrese sus credenciales para ingresar.</span>
    </mat-card-subtitle>

    <form class="example-form"
          [formGroup]="authForm"
          fxLayout="column">
      <mat-form-field>
        <mat-label i18n>Usuario</mat-label>
        <input matInput
               name="user"
               formControlName="user"
               [(ngModel)]="credentials.user"
               type="text"
               placeholder="Usuario">
        <mat-error *ngIf="form.user.invalid"
                   i18n>El usuario invalido.</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput
               name="password"
               type="password"
               formControlName="password"
               [(ngModel)]="credentials.password"
               placeholder="Contraseña">
        <mat-error *ngIf="form.password.invalid"
                   i18n>El password es requerido.</mat-error>
      </mat-form-field>
      <div class="selection-section"
           fxLayout="column">

        <div fxLayout="row"
             fxFlex
             fxLayoutAlign="space-between center">
          <mat-checkbox i18n>No cerrar sesión al salir.</mat-checkbox>
          <button mat-raised-button
                  (click)="login()"
                  [disabled]="authForm.invalid"
                  color="primary"
                  i18n>Ingresar</button>
        </div>

      </div>

    </form>
  </mat-card>

  <div class="fxMargin">
    <span class="version-app"
          i18n>Version 0.0.1</span>
  </div>

</div>
