<div class="general-container">
  <mat-card>
    <mat-card-title i18n>
      Listado de Personas
    </mat-card-title>

    <mat-card-content>
      <cdk-virtual-scroll-viewport itemSize="50"
                                   class="virtual-viewport">
        <div>
          <mat-accordion>
            <mat-expansion-panel *cdkVirtualFor="let person of personList"
                                 class="virtual-item">
              <mat-expansion-panel-header>
                <div fxFlex
                     fxLayout="row">
                  <div fxFlex="5%"
                       fxLayout="row"
                       fxLayoutAlign="start center">
                    <div class="status-persona">
                      A
                    </div>
                  </div>
                  <div fxFlex="10%"
                       fxLayout="row"
                       fxLayoutAlign="start center"> {{person.id}}</div>
                  <div fxFlex
                       fxLayoutAlign="center start"
                       fxLayout="column">
                    <span class="mat-body-2">{{person.nombreCompleto}}</span>
                    <span class="mat-body-1">{{person.eMail}}</span>
                  </div>
                  <div fxFlex
                       fxLayoutAlign="center start"
                       fxLayout="column">
                    <span>{{person.nacionalidad}}</span>
                    <span>o</span>
                  </div>
                  <div fxFlex
                       fxLayout="row"
                       fxLayoutAlign="center center">
                    <span>{{person.fechaCreo | date}}</span>
                  </div>
                  <div class="icon-container"
                       fxFlex="10%"
                       fxLayout="row"
                       fxLayoutAlign="space-between center">
                    <mat-icon (click)="deletePersona(person.id)">delete_forever</mat-icon>
                    <mat-icon (click)="editPerson(person.id)">mode_edit</mat-icon>
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item
                              (click)="editPerson(person.id)"
                              i18n>Editar</button>
                      <button mat-menu-item
                              (click)="deletePersona(person.id)"
                              i18n>Eliminar</button>
                    </mat-menu>
                  </div>
                </div>
              </mat-expansion-panel-header>

              <div fxFlex
                   fxLayout="row">
                <div fxLayout="row"
                     fxFlex="15%">
                  <div fxLayout="column"
                       fxLayoutAlign="space-between center">
                    <div>{{person.id}}</div>
                    <div>{{person.estado}}</div>
                    <div>1967</div>
                  </div>

                </div>
                <div fxLayout="row"
                     fxFlex="70%">

                  <div fxLayout="column">
                    <div fxLayout="column">
                      <span class="mat-caption label-caption"
                            i18n>
                        Nombre
                      </span>
                      <span>
                        {{person.nombreCompleto}}
                      </span>
                    </div>
                    <div fxLayout="column">
                      <span class="mat-caption label-caption"
                            i18n>
                        Email
                      </span>
                      <span>
                        {{person.eMail}}
                      </span>
                    </div>
                    <div fxLayout="column">
                      <span class="mat-caption label-caption"
                            i18n>
                        Observaciones
                      </span>
                      <span>
                        {{person.obs}}
                      </span>
                    </div>
                  </div>

                </div>
                <div fxLayout="row"
                     fxFlex="20%">
                  <div fxLayout="column">
                    <div class="mat-caption label-caption"
                         i18n>Ahorro</div>
                    <div class="mat-body-2">${{person.totalAhorro}}(ARS)</div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </cdk-virtual-scroll-viewport>
      <div fxLayout="row"
           class="buttom-container"
           fxLayoutAlign="end center">
        <div>
          <button mat-fab
                  (click)="addPerson()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-paginator [length]="paginator.length"
                   [pageSize]="paginator.pageSize"
                   [pageSizeOptions]="paginator.pageSizeOptions"
                   (page)="changePaginator($event)">
    </mat-paginator>
  </mat-card>
</div>
