$active-status-color: #93C47D;
$inactive-status-color: #FFE599;
$suspended-status-color: #CCCCCC;

.icon-container { padding-right: 30px;}

.label-caption { color: #9e9e9e; }

.virtual-viewport { height: 635px; }

.virtual-item { padding: 1px, 0px }

.buttom-container { padding: 16px 20px 0px; }

.active-status { border-radius: 30px; padding: 9px 0px;  width: 39px;  line-height: 20px;  text-align: center; background-color: $active-status-color; }

.inactive-status { border-radius: 30px; padding: 9px 0px;  width: 39px;  line-height: 20px;  text-align: center; background-color: $inactive-status-color; }

.suspended-status { border-radius: 30px; padding: 9px 0px;  width: 39px;  line-height: 20px;  text-align: center; background-color: $suspended-status-color; }

.first-section-details{
  margin-right: 30px;
  background-color: #eaeaeaba;
  border-radius: 8px;
}

.label-person-id{
  font-size: 20px;
  padding: 8px 0 8px 14px;
}

.active-status-label { border-radius: 3px; padding: 5px 10px; background-color: $active-status-color; }

.inactive-status-label { border-radius: 3px; padding: 5px 10px; background-color: $inactive-status-color; }

.suspended-status-label { border-radius: 3px; padding: 5px 10px; background-color: $suspended-status-color; }
