<div class="general-container">
  <mat-card>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="space-between center"
         fxLayoutAlign.xs="space-between none">
      <mat-card-title>
        <span> {{"PERSON_LIST.TITLE" | translate}}</span>
      </mat-card-title>

      <mat-form-field fxFlex.xs>
        <mat-label>{{'PERSON_LIST.STATUS_OPTION_LABEL' | translate}}</mat-label>
        <mat-select [(ngModel)]="statusSelected.value"
                    (selectionChange)="filter()">
          <mat-option *ngFor="let status of statusList"
                      [value]="status.value">
            {{status.keyTranslate | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-card-content>
      <div class="virtual-viewport">
        <mat-accordion fxFlex
                       *ngIf="listToRender.length > 0">
          <mat-expansion-panel *ngFor="let person of listToRender"
                               class="virtual-item">
            <mat-expansion-panel-header>
              <div fxFlex
                   fxLayout="row">
                <div fxFlex="5%"
                     fxFlex.xs="15%"
                     fxFlex.sm="10%"
                     fxFlex.md="5%"
                     fxLayout="row"
                     fxLayoutAlign="start center">
                  <div [ngClass]="{
                    'active-status' : person.estado === 'Active',
                    'inactive-status' : person.estado === 'Inactive',
                    'suspended-status' : person.estado === 'Suspended'}">
                    {{person.estado | slice:0:1}}
                  </div>
                </div>
                <div fxFlex="5%"
                     fxFlex.xs="5%"
                     fxFlex.sm="10%"
                     fxFlex.md="5%"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     fxLayoutAlign.xs="center center">
                  <span fxHide.xs="true">{{person.id}}</span>
                </div>
                <div fxFlex
                     fxFlex.xs="70%"
                     fxLayoutAlign.sm="center start"
                     fxLayoutAlign.xs="center start"
                     fxLayout="column">
                  <span class="mat-body-2">{{person.nombreCompleto}}</span>
                  <span fxHide.xs="true"
                        class="mat-caption">{{person.eMail}}</span>
                </div>
                <div fxFlex
                     fxHide.xs="true"
                     fxHide.sm="true"
                     fxLayoutAlign="center start"
                     fxLayout="column">
                  <span class="mat-body-2">{{person.nacionalidad}}</span>
                  <span class="mat-caption">{{person.sexo}}</span>
                </div>
                <div fxFlex
                     fxHide.xs="true"
                     fxHide.sm="true"
                     fxLayout="row"
                     fxLayoutAlign="center center">
                  <span class="mat-caption">{{person.fechaCreo | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="icon-container"
                     fxLayout="row"
                     fxLayoutAlign="space-between center">
                  <button fxHide.xs="true"
                          mat-icon-button
                          matTooltip="{{'PERSON_LIST.MENU_DELETE' | translate}}"
                          (click)="deletePersona(person.id)">
                    <mat-icon class="mat-18">delete_forever</mat-icon>
                  </button>
                  <button fxHide.xs="true"
                          mat-icon-button
                          matTooltip="{{'PERSON_LIST.MENU_EDIT' | translate}}"
                          (click)="editPerson(person.id)">
                    <mat-icon class="mat-18">mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button
                          [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item
                            (click)="editPerson(person.id)"
                            i18n>{{"PERSON_LIST.MENU_EDIT" | translate}}</button>
                    <button mat-menu-item
                            (click)="deletePersona(person.id)"
                            i18n>{{"PERSON_LIST.MENU_DELETE" | translate}}</button>
                  </mat-menu>
                </div>
              </div>
            </mat-expansion-panel-header>

            <div fxFlex
                 class="expansion-content"
                 fxLayout="row">
              <div fxLayout="row"
                   fxFlex
                   class="first-section-details">
                <div fxLayout="column"
                     fxLayoutAlign.xs="center center"
                     fxFlex>
                  <div fxLayout="row"
                       fxLayoutAlign="end center"
                       fxLayoutAlign.xs="center center"
                       class="person-id-container">
                    <span class="label-person-id">{{person.id}}</span>
                  </div>

                  <div fxLayout="row"
                       fxHide.xs="true"
                       fxFlex="70%"
                       fxLayoutAlign="center center"
                       [ngClass]="{
                    'active-status-label' : person.estado === 'Active',
                    'inactive-status-label' : person.estado === 'Inactive',
                    'suspended-status-label' : person.estado === 'Suspended'}">
                    {{person.estado}}
                  </div>

                  <div fxLayout="column"
                       fxLayoutAlign="center center">
                    <div fxLayout="row">
                      <span class="mat-title">{{person.fechaActualizo | date:'yyyy'}}</span>
                    </div>
                    <div fxLayout="row">
                      <span>{{person.fechaActualizo | date : 'dd MMM'}}</span>
                    </div>

                  </div>
                </div>
              </div>
              <div fxFlex="90"
                   fxLayout="row"
                   fxLayout.xs="column">
                <div fxLayout="row"
                     fxLayoutAlign.xs="start center"
                     fxFlex>

                  <div fxLayout="column"
                       fxLayoutAlign="space-between start">
                    <div fxLayout="column">
                      <span class="mat-caption label-caption"
                            i18n>
                        {{"PERSON_LIST.DETAIL_NAME" | translate}}
                      </span>
                      <span class="mat-caption">
                        {{person.nombreCompleto}}
                      </span>
                    </div>
                    <div fxLayout="column">
                      <span class="mat-caption label-caption"
                            i18n>
                        {{"PERSON_LIST.DETAIL_EMAIL" | translate}}
                      </span>
                      <span class="mat-caption">
                        {{person.eMail}}
                      </span>
                    </div>
                    <div fxLayout="column">
                      <div fxLayout="row"
                           fxLayoutAlign="start center">
                        <mat-icon class="at-icons">speaker_notes</mat-icon>

                        <span class="mat-caption label-caption"
                              i18n>
                          {{"PERSON_LIST.DETAIL_COMMENTS" | translate}}
                        </span>
                      </div>
                      <span class="mat-caption">
                        {{person.obs}}
                      </span>
                    </div>
                  </div>

                </div>
                <div fxLayout="row"
                     fxFlex="30%">
                  <div fxLayout="column">
                    <div class="mat-caption label-caption"
                         i18n>{{"PERSON_LIST.DETAIL_AHORRO" | translate}}</div>
                    <div fxLayout="row">
                      <span class="mat-title">{{person.totalAhorro | currency}}</span>
                      <span class="mat-caption">{{"PERSON_LIST.DETAIL_CURRENCY" | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="no-results-container"
             *ngIf="!(listToRender.length > 0)"
             fxFlex
             fxLayout="column"
             fxLayoutAlign="center center">

          <img class="no-results-img"
               src="../assets/img/no-results-persona.png">
          <div fxLayout="row"
               fxLayoutAlign="center center">

            <span class="msg-no-results"
                  fxFlex="70">{{"PERSON_LIST.DETAIL_NOT_RESULT" | translate}}</span>
          </div>
        </div>
      </div>

      <div fxLayout="row"
           class="buttom-container"
           fxLayoutAlign="end center">
        <div>
          <button mat-fab
                  matTooltip="Agregar una persona"
                  (click)="addPerson()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>

    <mat-paginator [length]="paginator.length"
                   [pageSize]="paginator.pageSize"
                   [pageSizeOptions]="paginator.pageSizeOptions"
                   (page)="changePaginator($event)">
    </mat-paginator>
  </mat-card>
</div>
