<h1 mat-dialog-title> {{'DIALOG.PROPERTIES_TITLE' | translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="bienForm"
        fxLayout="column"
        fxFlex>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput
               type="text"
               name="descripcion"
               formControlName="descripcion"
               placeholder=" {{'DIALOG.PROPERTIES_DESCRIPTION_LABEL' | translate}}"
               [(ngModel)]="formulario.descripcion">
        <mat-error *ngIf="validateError('descripcion') && getErrors('descripcion').required">
          {{'DIALOG.PROPERTIES_DESCRIPTION_VALIDATION' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="space-between center"
         fxLayoutAlign.xs="space-between none">
      <mat-form-field>
        <mat-select placeholder="{{'DIALOG.PROPERTIES_CATEGORY_LABEL' | translate}}"
                    name="categories"
                    formControlName="categories"
                    [(ngModel)]="formulario.tipo">
          <mat-option *ngFor="let categorie of viewdata.categories"
                      [value]="categorie">
            {{categorie}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="validateError('categories') && getErrors('categories').required">
          {{'DIALOG.PROPERTIES_CATEGORY_VALIDATION' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               type="number"
               name="valor"
               formControlName="valor"
               placeholder="{{'DIALOG.PROPERTIES_VALUE_LABEL' | translate}}"
               [(ngModel)]="formulario.valor">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="end center">
  <button mat-button
          (click)="cancel()"> {{'DIALOG.BUTTON_CANCEL' | translate}}</button>
  <button mat-button
          [disabled]="bienForm.invalid"
          [mat-dialog-close]="formulario"
          cdkFocusInitial> {{'DIALOG.BUTTON_ADD' | translate}}</button>
</div>
