<h1 mat-dialog-title>{{'COUNTRY_FORM_TITLE' | translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="countryForm"
        fxLayout="column"
        fxFlex>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="50">
        <input matInput
               type="text"
               name="nombre"
               formControlName="nombre"
               placeholder="Nombre"
               [(ngModel)]="data.nombre">
        <mat-error *ngIf="validateError('nombre') && getErrors('nombre').required">
          {{'COUNTRY_NAME_VALIDATION' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="40">
        <input matInput
               type="text"
               name="codigoIata"
               formControlName="codigoIata"
               placeholder="Codigo iata"
               [(ngModel)]="data.codigoIata">
        <mat-error *ngIf="validateError('codigoIata') && getErrors('codigoIata').required">
          {{'COUNTRY_IATA_VALIDATION' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="end center">
  <button mat-button
          (click)="cancel()">{{'DIALOG_BUTTON_CANCEL' | translate}}</button>
  <button mat-button
          [disabled]="countryForm.invalid"
          [mat-dialog-close]="data"
          cdkFocusInitial>
    <span *ngIf="data.modify">{{'DIALOG_BUTTON_UPDATE' | translate}}</span>
    <span *ngIf="!data.modify">{{'DIALOG_BUTTON_ADD' | translate}}</span>
  </button>
</div>
