<div fxFlex
     fxLayout="column"
     fxLayoutAlign="center center">

  <mat-toolbar color="primary">
    <span class="mat-title">{{viewdata.titleForm}}</span>
  </mat-toolbar>
  <div class="general-container">
    <mat-card class="card-form">
      <mat-card-title>
        Formulario de Personas
      </mat-card-title>
      <mat-card-content>

        <form [formGroup]="personForm"
              fxLayout="column">
          <div>
            <div fxLayout="row">
              <mat-form-field fxFlex
                              class="example-full-width">
                <input matInput
                       name="name"
                       formControlName="name"
                       [(ngModel)]="formulario.name"
                       placeholder="Nombre Completo">
                <mat-hint align="start"><strong>Con el siguiente formato Apellido, Nombre/s.</strong> </mat-hint>
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <mat-form-field fxFlex
                              class="example-full-width">
                <input matInput
                       name="email"
                       formControlName="email"
                       [(ngModel)]="formulario.email"
                       placeholder="Correo electronico">
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <table fxLayout="row"
                     fxFlex
                     cellspacing="5">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput
                             name="ahorro"
                             formControlName="ahorro"
                             [(ngModel)]="formulario.ahorro"
                             type="number"
                             placeholder="Ahorro">
                    </mat-form-field>

                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput
                             name="ahorroPercentage"
                             formControlName="ahorroPercentage"
                             [(ngModel)]="formulario.ahorroPercentage"
                             placeholder="Porcentaje">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-slide-toggle class="toggle-container"
                                      formControlName="enableNotify"
                                      [(ngModel)]="formulario.enableNotify"
                                      fxFlex>Recibir notificaciones</mat-slide-toggle>
                  </td>
                </tr>
              </table>
            </div>
            <div fxLayout="row">
              <mat-form-field fxFlex
                              class="example-full-width">
                <input matInput
                       name="address"
                       formControlName="address"
                       [(ngModel)]="formulario.address"
                       placeholder="Direccion">
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <table fxLayout="row"
                     fxFlex
                     cellspacing="5">
                <tr>
                  <td>
                    <mat-form-field class="birthdate-container">
                      <input matInput
                             name="birthdate"
                             formControlName="birthdate"
                             [(ngModel)]="formulario.birthdate"
                             [matDatepicker]="picker"
                             placeholder="Fecha de nacimiento">
                      <mat-datepicker-toggle matSuffix
                                             [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-select placeholder="Sexo"
                                  name="gender"
                                  formControlName="gender"
                                  [(ngModel)]="formulario.gender">
                        <mat-option *ngFor="let sexos of viewdata.sexos"
                                    [value]="sexos">
                          {{sexos}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-select placeholder="Estado"
                                  name="status"
                                  formControlName="status"
                                  [(ngModel)]="formulario.status">
                        <mat-option *ngFor="let accountStatusList of viewdata.accountStatusList"
                                    [value]="accountStatusList">
                          {{accountStatusList}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <!-- <mat-divider></mat-divider> -->
          <div>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Datos regionales
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                  <div fxLayout="row">
                    <table fxLayout="row"
                           fxFlex
                           cellspacing="5">
                      <tr>
                        <td>
                          <mat-form-field>
                            <mat-select placeholder="Formato de fecha">
                              <mat-option *ngFor="let dateFormats of viewdata.dateFormats"
                                          [value]="dateFormats">
                                {{dateFormats}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <mat-select placeholder="Formato de hora">
                              <mat-option *ngFor="let timeFormats of viewdata.timeFormats"
                                          [value]="timeFormats">
                                {{timeFormats}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <mat-select placeholder="Zona Horaria">
                              <mat-option *ngFor="let timeZones of viewdata.timeZones"
                                          [value]="timeZones.timeZoneId">
                                {{timeZones.timeZoneName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>

                      </tr>
                    </table>
                  </div>

                  <div fxLayout="row">
                    <table fxLayout="row"
                           fxFlex
                           cellspacing="5">
                      <tr>
                        <td>
                          <mat-form-field>
                            <mat-select placeholder="Nacionalidad">
                              <mat-option *ngFor="let food of foods"
                                          [value]="food.value">
                                {{food.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field>
                            <mat-select placeholder="Idioma">
                              <mat-option *ngFor="let languageCodes of viewdata.languageCodes"
                                          [value]="languageCodes">
                                {{languageCodes}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bienes
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="comments-container">
            <mat-form-field fxFlex>
              <mat-label>Observaciones</mat-label>
              <textarea matInput
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>

          <div fxFlexLayout="row"
               fxLayoutAlign="end center">
            <div class="button-container">
              <button mat-raised-button
                      (click)="cancel()">Cancelar</button>
            </div>
            <div class="button-container">
              <button mat-raised-button
                      (click)="action()"
                      [disabled]="personForm.invalid"
                      color="primary">{{viewdata.buttonActionText}}</button>
            </div>

          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>

</div>
