@import '../../variables.scss';

.card-form {
  max-width: 935px !important; min-width: 70%;
}

.button-container {
  margin: 8px;
}

.agregar-bien-container {
  padding-top: 8px;
}

.agregar-bien-label {
  padding-left: 5px;
}

.form-container {
  width: 100%;
}

mat-hint {
color: $hint-color !important;
}

// Estilos para formularios.
form {
  & > .mat-expansion-panel-content {
    padding: 0 16px 16px !important;
  }

  & > section {
    padding: 0 16px !important;
    *:only-child{
      margin: 8px 0 !important;
    }
  }

  & > mat-hint {
    padding: 0 0 0 16px !important;
  }

  & > section {
    div {
      & > * {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      & > *:not(:first-child):not(.not-separated) {
        padding-left: 12px !important;
      }

      & > *:not(:last-child):not(.not-separated) {
        padding-right: 12px !important;
      }
    }
  }

  md-datepicker {
    margin: 18px 0 !important;
    height: 33px;
    display: flex;
    flex-direction: row;

    .md-datepicker-button {
      font-size: 24px;
      width: 30px !important;
      height: 30px !important;
      min-width: 30px !important;
      min-height: 30px !important;
      margin: 0 !important;
      padding: 4px 4px 4px 0 !important;
      line-height: 30px;
    }

    .md-datepicker-input-container {
      margin-left: 0 !important;
      display: flex;
      flex: 1;

      input {
        min-width: 100% !important;
        font-size: 16px;
        height: 32px;
      }

      .md-datepicker-triangle-button {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin: 0 12px 8px 4px !important;
        align-items: flex-end;
        -webkit-box-align: end;
        text-align: end;
        width: 24px !important;
        min-width: 24px !important;
        height: 24px !important;
        min-height: 24px !important;
      }
    }
  }

  .custom-container{
    position: relative;
  }

  .custom-hint {
    color: $hint-color !important;
    padding-left: 0 !important;
    font-size: 12px;
    position: absolute;
    bottom: 6px;
   }
}

// Mediaquery para formulario de una sola columna en xs.
@media (max-width: 599px) {
  form {
    & > section {
      div {
        & > * {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        & > *:not(:first-child):not(.not-separated) {
          padding-left: 0px !important;
        }

        & > *:not(:last-child):not(.not-separated) {
          padding-right: 0px !important;
        }
      }
    }
  }
}
