/* You can add global styles to this file, and also import other style files */
.general-container {
  padding: 8px 16px;
  min-width: 470px !important;
}

.at-icons {
  font-size: 16px !important;  height: 16px !important;  width: 16px !important; padding-right: 8px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Mediaquery para formulario de una sola columna en xs.
@media (max-width: 599px) {
  .general-container {
    padding: 8px 16px;
    min-width: 0px !important;
  }
}
