<div fxFlexFill
     fxLayout="column">
  <div fxLayout="row"
       fxLayoutAlign="center start">
    <mat-toolbar color="primary"
                 fxLayout="row">
      <button mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div *ngIf="showDynamicSubHeader && masterPage$ | async as mp"
           class="sub-header"
           [@panelInOut]>{{mp.subHeader | translate}}</div>

      <div fxLayoutAlign="end center"
           fxFlex>
        <button mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  *ngFor="let language of languageList"
                  (click)="changeLanguage(language)">
            <mat-icon>language</mat-icon>
            <span>{{language}}</span>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>
  </div>
  <mat-drawer-container fxFlex
                        fxFlexLayout="column">
    <mat-drawer #drawer
                class="contents"
                [(opened)]="openedSideBar"
                [mode]="openedSideBarMode"
                class="left-drawer-container">
      <mat-nav-list>
        <mat-list-item (click)="logout()">
          <mat-icon matListIcon
                    class="menu-icons">exit_to_app</mat-icon>
          <span matLine
                class="left-panel-items"
                i18n> {{"MASTER_PAGE.LOGOUT" | translate}} </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="goToPersonList(drawer)">
          <mat-icon matListIcon
                    class="menu-icons">person_outline</mat-icon>
          <span matLine
                class="left-panel-items"
                i18n> {{"MASTER_PAGE.PERSON_LIST" | translate}} </span>
        </mat-list-item>
        <mat-list-item (click)="goToCountryList(drawer)">
          <mat-icon matListIcon
                    class="menu-icons">public</mat-icon>
          <span matLine
                class="left-panel-items"
                i18n> {{"MASTER_PAGE.COUNTRY_LIST" | translate}}</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content fxLayout="column"
                        (scroll)="onElementScroll($event)">
      <div class="master-page-container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</div>
