
.left-panel-items {
  font-size: 14px !important;
}

.left-drawer-container{
  width: 260px !important;
}

.menu-icons{
  color: #616161 !important;
  opacity: .8;
  font-size: 20px !important;
  width: 20px !important;
  min-width: 20px !important;
  height: 20px !important;
  min-height: 20px !important;
}
