<div fxFlexFill
     fxLayout="column">
  <div fxLayout="row"
       fxLayoutAlign="center start">
    <mat-toolbar color="primary">
      <button mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <mat-drawer-container fxFlex
                        fxFlexLayout="column">

    <mat-drawer #drawer
                class="contents"
                [(opened)]="openedSideBar"
                mode="side">
      <mat-nav-list>
        <mat-list-item (click)="logout()">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <span matLine
                class="mat-caption"
                i18n> Cerrar sesión </span>
        </mat-list-item>
        <mat-list-item routerLink="personas/listado">
          <mat-icon matListIcon>person_outline</mat-icon>
          <span matLine
                class="mat-caption"
                i18n> Listado de personas </span>
        </mat-list-item>
        <mat-list-item routerLink="paises/listado">
          <mat-icon matListIcon>public</mat-icon>
          <span matLine
                class="mat-caption"
                i18n> Listado de paises </span>
        </mat-list-item>
      </mat-nav-list>

    </mat-drawer>

    <mat-drawer-content fxLayout="column">

      <div class="master-page-container">
        <router-outlet></router-outlet>
      </div>

    </mat-drawer-content>

  </mat-drawer-container>
</div>
